
<!-- component -->
<div class="py-16 bg-gradient-to-br from-green-50 to-cyan-100">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
      <div class="mb-12 space-y-2 text-center">
        <span class="block w-max mx-auto px-3 py-1.5 border border-green-200 rounded-full bg-green-100 text-green-600">Information</span>
        <h2 class="text-2xl text-cyan-900 font-bold md:text-4xl">Artemis Launch</h2>
        <p class="lg:w-6/12 lg:mx-auto">Find all the information about our next Launch with the famous Artemis Spaceship</p>
      </div>

      <div class="grid gap-12 lg:grid-cols-2">
        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Artemis_program_%28original_with_wordmark%29.svg/1200px-Artemis_program_%28original_with_wordmark%29.svg.png" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">WHY WE ARE GOING TO THE MOON</h4>
                <p class="text-gray-600">With Artemis missions, NASA will land the first woman and first person of color on the Moon, using innovative technologies to explore more of the lunar surface than ever before.</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div>
        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://cdn.vox-cdn.com/thumbor/nshfFdu67WfrnOo2EUXd_c0ykm8=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/23973464/artemis_launch_board_1b.jpg" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">OUR SUCCESS WILL CHANGE THE WORLD</h4>
                <p class="text-gray-600">We will build an Artemis Base Camp on the surface and the Gateway in lunar orbit. These elements will allow our robots and astronauts to explore more and conduct more science than ever before.</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
