
<!-- component -->
<div style="border-bottom: 5px solid red;">
  <div class="text-gray-900 pt-12 pr-0 pb-14 pl-0 bg-black">
    <div class="w-full pt-4 pr-5 pb-6 pl-5 mt-0 mr-auto mb-0 ml-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-9xl">
      <div class="flex flex-col items-center sm:px-5 md:flex-row">
        <div class="flex flex-col items-start justify-center w-full h-full pt-6 pr-0 pb-6 pl-0 mb-6 md:mb-0 md:w-1/2">
          <div class="flex flex-col items-start justify-center h-full space-y-3 transform md:pr-10 lg:pr-16
              md:space-y-5">
            <a class="text-4xl font-bold leading-none lg:text-2xl xl:text-5xl text-slate-200">Watch everywhere</a>
            <a class="text-2xl text-white">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</a>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="block">
            <video alt="house party GIF by Interscope Records"
                   src="https://media4.giphy.com/media/xT0GqJC73ZcQpUvoSA/giphy.mp4?cid=ecf05e47xhqqb6o7i7jmdt5covlze0490wfxk08cj4otqprf&amp;ep=v1_gifs_search&amp;rid=giphy.mp4&amp;ct=g"
                   poster="https://media4.giphy.com/media/xT0GqJC73ZcQpUvoSA/giphy_s.gif?cid=ecf05e47xhqqb6o7i7jmdt5covlze0490wfxk08cj4otqprf&amp;ep=v1_gifs_search&amp;rid=giphy_s.gif&amp;ct=g"
                   autoplay=""
                   loop=""
                   playsinline=""
                   style="width: 100%; height: 100%;"
                   class="rounded-lg ">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="border-bottom: 5px solid red;">
  <div class="text-gray-900 pt-12 pr-0 pb-14 pl-0 bg-black">
    <div class="w-full pt-4 pr-5 pb-6 pl-5 mt-0 mr-auto mb-0 ml-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-9xl">
      <div class="flex flex-col items-center sm:px-5 md:flex-row">
        <div class="w-full md:w-1/2">
          <div class="block">
            <video alt="house party GIF by Interscope Records"
                  src="https://media2.giphy.com/media/jqNuLw5NbXKYmD78Xf/giphy.mp4?cid=ecf05e4763458tun1f0vbziy7xfroafaj0m477qflm1o21f8&amp;ep=v1_gifs_search&amp;rid=giphy.mp4&amp;ct=g"
                  poster="https://media2.giphy.com/media/jqNuLw5NbXKYmD78Xf/giphy_s.gif?cid=ecf05e4763458tun1f0vbziy7xfroafaj0m477qflm1o21f8&amp;ep=v1_gifs_search&amp;rid=giphy_s.gif&amp;ct=g"
                  autoplay=""
                  loop=""
                  playsinline=""
                  style="width: 100%; height: 100%;"
                  class="rounded-lg ">
            </video>
          </div>
        </div>
        <div class="flex flex-col items-start justify-center w-full h-full pt-6 pr-0 pb-6 pl-0 mb-6 md:mb-0 md:w-1/2">
          <div class="flex flex-col items-start justify-center h-full space-y-5 space-x-8 transform md:pl-10 lg:pl-16 md:space-y-5">
            <a class="text-4xl font-bold leading-none lg:text-2xl xl:text-5xl text-slate-200">Watch everywhere</a>
            <a class="text-2xl text-white">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="border-bottom: 5px solid red;">
  <div class="text-gray-900 pt-12 pr-0 pb-14 pl-0 bg-black">
    <div class="w-full pt-4 pr-5 pb-6 pl-5 mt-0 mr-auto mb-0 ml-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-9xl">
      <div class="flex flex-col items-center sm:px-5 md:flex-row">
        <div class="flex flex-col items-start justify-center w-full h-full pt-6 pr-0 pb-6 pl-0 mb-6 md:mb-0 md:w-1/2">
          <div class="flex flex-col items-start justify-center h-full space-y-3 transform md:pr-10 lg:pr-16
              md:space-y-5">
              <a class="text-4xl font-bold leading-none lg:text-2xl xl:text-5xl text-slate-200">Watch everywhere</a>
              <a class="text-2xl text-white">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</a>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="block">
            <video alt="house party GIF by Interscope Records"
                   src="https://media1.giphy.com/media/MYQXUpSfXT1iU0CChP/giphy.mp4?cid=ecf05e4728adhfy7jvme65hjxf3vcqhwej4mlce44oivoem8&amp;ep=v1_gifs_search&amp;rid=giphy.mp4&amp;ct=g"
                   poster="https://media1.giphy.com/media/MYQXUpSfXT1iU0CChP/giphy_s.gif?cid=ecf05e4728adhfy7jvme65hjxf3vcqhwej4mlce44oivoem8&amp;ep=v1_gifs_search&amp;rid=giphy_s.gif&amp;ct=g"
                   autoplay=""
                   loop=""
                   playsinline=""
                   style="width: 100%; height: 100%;"
                   class="rounded-lg ">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="border-bottom: 5px solid red;">
  <div class="text-gray-900 pt-12 pr-0 pb-14 pl-0 bg-black">
    <div class="w-full pt-4 pr-5 pb-6 pl-5 mt-0 mr-auto mb-0 ml-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-9xl">
      <div class="flex flex-col items-center sm:px-5 md:flex-row">
        <div class="w-full md:w-1/2">
          <div class="block">
            <video alt="house party GIF by Interscope Records"
                  src="https://media1.giphy.com/media/b60d0PNX0NPdS/giphy.mp4?cid=ecf05e477vz47jltky7q7lloyua71pza2b2k9cfyhp8lmt6q&amp;ep=v1_gifs_search&amp;rid=giphy.mp4&amp;ct=g"
                  poster="https://media1.giphy.com/media/b60d0PNX0NPdS/giphy_s.gif?cid=ecf05e477vz47jltky7q7lloyua71pza2b2k9cfyhp8lmt6q&amp;ep=v1_gifs_search&amp;rid=giphy_s.gif&amp;ct=g"
                  autoplay=""
                  loop=""
                  playsinline=""
                  style="width: 100%; height: 100%;"
                  class="rounded-lg ">
            </video>
          </div>
        </div>
        <div class="flex flex-col items-start justify-center w-full h-full pt-6 pr-0 pb-6 pl-0 mb-6 md:mb-0 md:w-1/2">
          <div class="flex flex-col items-start justify-center h-full space-y-5 space-x-8 transform md:pl-10 lg:pl-16 md:space-y-5">
            <a class="text-4xl font-bold leading-none lg:text-2xl xl:text-5xl text-slate-200">Watch everywhere</a>
            <a class="text-2xl text-white">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
